<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.zigzag.ch1.test01.UserDaoImpl">
        <property name="strList">
            <list>
                <value>haohao</value>
                <value>miaomiao</value>
            </list>
        </property>
    </bean>
</beans>